In [1]:
import pandas as pd

df = pd.read_csv("NBA_TeamStats_1992-2024_df.csv")

df.head()

,Rk,Year,Team,Playoffs,Championship,Age,W,L,PW,PL,...,FT/FGA,Unnamed: 25,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 30,Arena,Attend.,Attend./G
0,1,1992,Chicago Bulls,Yes,Yes,27.6,67,15,66,16,...,0.221,NaN,0.476,14.1,69.3,0.219,NaN,Chicago Stadium,"759,980","18,536"
1,2,1992,Portland Trail Blazers,Yes,No,28.1,57,25,59,23,...,0.253,NaN,0.471,14.3,69.9,0.251,NaN,Memorial Coliseum,"528,408","12,888"
2,3,1992,Utah Jazz,Yes,No,28.5,55,27,57,25,...,0.286,NaN,0.475,13.0,68.9,0.214,NaN,Delta Center,"806,663","19,675"
3,4,1992,Phoenix Suns,Yes,No,27.0,53,29,56,26,...,0.258,NaN,0.471,13.0,67.7,0.223,NaN,Arizona Veterans Memorial Coliseum,"594,327","14,496"
4,5,1992,Cleveland Cavaliers,Yes,No,27.6,57,25,55,27,...,0.259,NaN,0.483,12.3,66.5,0.174,NaN,Coliseum at Richfield,"677,408","16,522"

In [5]:
# # Rename the columns needed
df=pd.read_csv("NBA_TeamStats_1992-2024_df.csv")
df_renamed = df.rename(columns={
                                        "Rk": "RANK",
                                        "W": "WINS",
                                        "L": "LOSSES",
                                        "PW": "PYTHAGOREAN WINS",
                                        "PL": "PYTHAGOREAN LOSSES",
                                        "MOV": "MARGIN OF VICTORY",
                                        "SOS": "STRENGTH OF SCHEDULE",
                                        "SRS": "SIMPLE RATING SYSTEM",
                                        "ORtg": "OFFENSIVE RATING",
                                        "DRtg": "DEFENSIVE RATING",
                                        "Pace": "PACE FACTOR",
                                        "FTr": "FREE THROW ATTEMPT RATE",
                                        "3PAr": "3-POINT ATTEMPT RATE",
                                        "TS%": "TRUE SHOOTING PERCENTAGE",
                                        "eFG%": "EFFECTIVE FIELD GOAL PERCENTAGE",
                                        "TOV%": "TURNOVER PERCENTAGE",
                                        "ORB%": "OFFENSIVE REBOUND PERCENTAGE",
                                        "FT/FGA": "FREE THROWS PER FIELD GOAL ATTEMPT",
                                        "eFG%": "OPPONENT EFFECTIVE FIELD GOAL PERCENTAGE",
                                        "TOV%": "OPPONENT TURNOVER PERCENTAGE",
                                        "DRB%": "DEFENSIVE REBOUND PERCENTAGE",
                                        "FT/FGA": "OPPONENT FREE THROWS PER FIELD GOAL ATTEMPT",
                                         })

df_renamed.dropna()
df_renamed.head()

,RANK,Year,Team,Playoffs,Championship,Age,WINS,LOSSES,PYTHAGOREAN WINS,PYTHAGOREAN LOSSES,...,OPPONENT FREE THROWS PER FIELD GOAL ATTEMPT,Unnamed: 25,eFG%.1,TOV%.1,DEFENSIVE REBOUND PERCENTAGE,FT/FGA.1,Unnamed: 30,Arena,Attend.,Attend./G
0,1,1992,Chicago Bulls,Yes,Yes,27.6,67,15,66,16,...,0.221,NaN,0.476,14.1,69.3,0.219,NaN,Chicago Stadium,"759,980","18,536"
1,2,1992,Portland Trail Blazers,Yes,No,28.1,57,25,59,23,...,0.253,NaN,0.471,14.3,69.9,0.251,NaN,Memorial Coliseum,"528,408","12,888"
2,3,1992,Utah Jazz,Yes,No,28.5,55,27,57,25,...,0.286,NaN,0.475,13.0,68.9,0.214,NaN,Delta Center,"806,663","19,675"
3,4,1992,Phoenix Suns,Yes,No,27.0,53,29,56,26,...,0.258,NaN,0.471,13.0,67.7,0.223,NaN,Arizona Veterans Memorial Coliseum,"594,327","14,496"
4,5,1992,Cleveland Cavaliers,Yes,No,27.6,57,25,55,27,...,0.259,NaN,0.483,12.3,66.5,0.174,NaN,Coliseum at Richfield,"677,408","16,522"